.detailscontainer {
    display: flex;
  max-width: 850px;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 3px;
  margin: 15px 50px;
  vertical-align: top;
  background-color: #ecf0f1;
    border-radius: 3px;
    margin: 15px;
    justify-content: center;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 600px) {
  .detailscontainer {
    display: inline-block;
    margin: 15px;

  }
}

.detailsinline {
  width: 100%;
  text-align: center;
}

.detailsinline > h1 {
  color: #28387f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.s1 {
  color: #28387f !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.s2 {
  color: #28387f !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.s3 {
  color: #28387f !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.s4 {
  color: #28387f !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.detailsinline > p {
  font-size: 21px;
}

span {
  font-weight: bold;
  font-size: 18px;
}

.logoandtext {
display: flex;
width: 100%;
flex-direction: column;
align-self: center;

}

.logoandtext > p {
  text-align: center;
  font-size: 17px;
}

.logoandtext > img {
  display: flex;
  width:100%;
}

@media only screen and (max-width: 600px) {
  .logoandtext > img {
      display: flex;
      max-width: 320px;
      width: 100%;

  }
}