.updatercontainer {
    display: inline-flex;
    padding: 10px;
    border-radius: 3px;
    margin: 15px;
    background-color: #ecf0f1;
    padding: 20px;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);

}

@media only screen and (max-width: 600px) {
    .updatercontainer {
        display: flex;
        flex-direction: column;
    }
}

.updaterinputs > input {
  
        display:block;
        width:350px;
        padding:14px;
        -webkit-border-radius:6px;
           -moz-border-radius:6px;
                border-radius:6px;
        border:0;
        margin-bottom:12px;
        color:#7f8c8d;
        font-weight:600;
        font-size:16px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
.updaterinputs > input {
      width:90%;
}
}

.updaterinputs > input:focus {
    background:#fafafa;

}

  .selectboxcontainer {
      display: flex;
      flex-direction: column;
    border-radius: 3px;
    margin-top: 0px;
    margin-left: 15px;
    background-color: #ecf0f1;
    width: 100%;
  
  }

  .selectboxcontainer > input {
    display:block;
        width:350px;
        padding:13px;
        -webkit-border-radius:6px;
           -moz-border-radius:6px;
                border-radius:6px;
        border:0;
        margin-bottom:12px;
        font-weight:600;
        font-size:16px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 600px) {
    .selectboxcontainer > input {
          width:90%;
    }
    }

    @media only screen and (max-width: 600px) {
      .selectboxcontainer  {
            margin-left: 0px;
      }
      }
    
    .selectboxcontainer > input:focus {
        background:#fafafa;
    
    }

  .button {
    display: block;
    width: 98%;
    align-self: center;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    transform: translatez(0);
    text-decoration: none;
    box-sizing: border-box;
    font-size: 21px;
    font-weight: normal;
    margin-top: 20%;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
  }

  .button:hover {
    background-color: #28387fc7;
  }
  
  .amount-submit {
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    color: white;
    background: #28387f;
  }


  @media only screen and (max-width: 600px) {
  .amount-submit {
      margin-left: 0px;
        width: 100%;
        justify-content: center;
    }

  .button {
    margin-top: 5%;
  }
  }

  .selectbox {
    display: flex;
    flex-direction: column;
  border-radius: 3px;
  margin-top: 0px;
  margin-left: 15px;
  background-color: #ecf0f1;
  width: 100%;
  }

  .selectbox > input {
    display:block;
        width:200px;
        padding:13px;
        -webkit-border-radius:6px;
           -moz-border-radius:6px;
                border-radius:6px;
        border:0;
        margin-bottom:12px;
        margin-top: 11px;
        font-weight:600;
        font-size:16px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  .selectbox > select {
    border-radius: 3px;
    border:none;
    height: 49px;
    font-size:16px;
    font-weight:400;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    
  }

  @media only screen and (max-width: 600px) {
    .selectbox {
      margin-left: 0px;
    }
    .selectbox > input {
          width:90%;
          margin-top: 12px;
    }
    }