.scrollcontainer {
    display: flex;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 3px;
    margin: 15px;
    justify-content: center;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);

}

@media only screen and (max-width: 600px) {
    .scrollcontainer {
        max-width: 100%;
        width: 80%;
    }
}

.scrollbox {
    width: 100%;
    height: 280px;
    font-family: 'Junge', serif;
    font-size: 1.0em;
    color: #999999;
    margin: 0px auto;
    line-height: 1.5em;
    overflow: scroll;
}

@media only screen and (max-width: 600px) {
    .scrollbox {
        font-size:0.45em;
    }
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    background: #cfd2d4; 
    color: #000;
    
  }

  @media only screen and (max-width: 600px) {
    td{
        font-size:1.2em;
    }
    th > span {
        font-size: 1.0em;
    }
}
  
  td, th { 
    padding: 6px; 
    text-align: center;
  }

  tr:nth-of-type(odd) { 
    background: #eaecf3;
  }
  
  th { 
    background: #28387f; 
    font-weight: bold;
    color: #fff;
    position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
    position: sticky;
    top: 0;
  }

  

  .amount-text {
    font-weight: bold;
		font-size: 18px;
		color:rgb(251, 141, 23)
  }

  @media only screen and (max-width: 600px) {
    .amount-text {
      font-size: 12px;
    }

  
}