.appcontainer{
    padding: 42px;  
    display: flex;
    flex-direction: column;
    width: 850px;
    min-width: 100px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    
}

@media only screen and (max-width: 600px) {
    .appcontainer {
        margin-top: 80px;
    }
}
